.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.inputWrapper {
  position: relative;
}

.error {
  color: #ef5050; /* Красный цвет */
  font-size: 12px;
  margin-top: 4px;
  margin-left: 4px;
}

.input {
  width: 100%;
  padding: 16px 18px;
  border: 1px solid rgba(25, 26, 21, 0.1);
  border-radius: 12px;
  font-size: 16px;
  border: 1px solid rgba(25, 26, 21, 0.1);
  outline: none;
}

.input:focus {
  border-color: #fc832c;
  box-shadow: 0 0 5px rgba(243, 166, 1, 0.5);
}

.input::placeholder {
  color: #191a15;
}

.inputPassword {
  position: relative;
}

.iconEyeOff {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  width: 20px;
  height: 20px;
  fill: transparent;
  stroke: #191a15;
  stroke-width: 2.5px;
}

.submitBtn {
  background-color: #fc832c;
  color: #fbfbfb;
  font-size: 16px;
  font-weight: 500;
  padding: 16px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 40px;
  transition: background-color 0.3s;
}

.submitBtn:hover {
  background-color: #f37113;
}
