.container {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #191a15;
  margin-bottom: 20px;
}

.subtitle {
  color: rgba(25, 26, 21, 0.5);
}

.description {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(25, 26, 21, 0.5);
  margin-bottom: 40px;
}

.psychologistBrief {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.avatar {
  width: 44px;
  height: 44px;
  border-radius: 15px;
  object-fit: cover;
}

.psychologistText {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  font-size: 12px;
  line-height: 1.33;
  color: #8a8a8a;
  margin: 0;
}

.name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #191a15;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.input,
.textarea,
.inputError {
  width: 100%;
  padding: 16px 18px;
  border: 1px solid rgba(25, 26, 21, 0.1);
  border-radius: 12px;
  font-size: 16px;
  background-color: transparent;
  outline: none;
  transition: border-color 0.2s;

  box-sizing: border-box;
  height: 52px;
  flex-shrink: 0;
}

.textarea {
  height: 116px;
  resize: none;
}

.input:focus,
.textarea:focus {
  border-color: #fc832c;
}

.inputGroup {
  display: flex;
  gap: 8px;
  width: 100%;
}

.fieldWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.textarea {
  height: 116px;
  resize: none;
}

.submitBtn {
  margin-top: 24px;
  padding: 16px;
  background-color: #fc832c;
  color: #fbfbfb;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submitBtn:hover {
  background-color: #f37113;
}

.timeInputWrapper {
  position: relative;
  width: 100%;
}

.iconClock {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
  pointer-events: none;
  stroke: #191a15;
  fill: none;
  width: 20px;
  height: 20px;
  pointer-events: none;
  z-index: 2;
}

.inputError {
  border-color: #ef2447;
  color: #191a15;
}

.errorText {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 4px;
  color: #ef2447;
  font-size: 12px;
}
