@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap");

:root {
  --primary-color: #fc832c;
  --text-color: #191a15;
  --bg-color: #fbfbfb;
  --white: #ffffff;

  font-family: "Inter", sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

input {
  font-family: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1214px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.accent {
  color: #fc832c;
}
